<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
          <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
        </svg>
         <%= @user.name %></h3>
        <% if @user == current_user %>
          <%= link_to 'プロフィールを編集する', edit_user_url, class: 'btn btn-sm btn-outline-success' %>
        <% end %>
      </div>
      <div class="card-body">
          <!-- img src="<%= gravatar_url(@user, { size: 250 }) %>" alt="" -->
      <% if @user.prof? %>
      <%= @user.prof %>
      <% end%>
    </div>
    </div>
    <p class="text-right">
      <%= link_to 'トップページに戻る', root_url , class: 'btn btn-sm btn-primary' %> 
    </p>
  </aside>
  
  <div class="col-sm-8">
  <h6><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
  <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
</svg>
    <%= @user.name %> さんが投稿した内容一覧</h4> 

    <% @restaurants.each do |restaurant| %>
      <div class="card-header">
        <h4 class="card-title"><%= restaurant.name %></h4>
      </div>
      <div class="card-body">
        <p>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
          </svg>
          営業場所
          <span class="under-yellow"><%= restaurant.place %></span>
        </p>
        <p>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-right" viewBox="0 0 16 16">
            <path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1H2zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"/>
          </svg>
          料理・お店について
    　     <span class="under-blue"><%= restaurant.content %></span>
        </p>
        <p>
          <% if restaurant.photo? %>
          <%= image_tag restaurant.photo.url , width: '50%' %>
          <% end%>
        </p>
        <p>
          <span class="text-muted">投稿者:<%= restaurant.user.name %> posted at <%= restaurant.created_at %></span>
        </p>
      </div>
          <%= link_to 'もっと見る', restaurant , class: 'btn btn-sm btn-outline-success' %>
        <br>
        <br>
    <% end %>
 
  
  </div>