<div class="jumbotron" >
  <div class="text-center">
    <h1>復興グルメ！</h1>
    <h3>~熊本県人吉市周辺のグルメ情報~</h3>
    <p>被災から復活したお店のグルメ情報を投稿して街を盛り上げよう。</p>
    <hr>
    <p>投稿するにはユーザー登録、ログインが必要です。
    <%= link_to 'ユーザー登録', signup_path, class: 'btn btn-md btn-primary' %></p>
  </div>
</div>
<%= image_tag 'sakura2.jpg', width: '100%'%>
<br>
<br>
  <% @restaurants.each do |restaurant| %>
    <div class="card-header">
        <h4 class="card-title"><%= restaurant.name %></h4>
    </div>
    <div class="card-body">
      <div>
        営業場所:<%= restaurant.place %>
      </div>
      <div>
        内容:<%= restaurant.content %>
      </div>
      <div>
        写真:<%= restaurant.photo %>
      </div>
      <div>
        投稿者:<%= link_to restaurant.user.name, user_path(restaurant.user) %> <span class="text-muted">posted at <%= restaurant.created_at %></span>
      </div>
    </div>
        <%= link_to '詳細を見る', restaurant , class: 'btn btn-sm btn-primary' %>　
    <br>
    <br>
  <% end %>