<h1>投稿id: <%= @restaurant.id %> の詳細ページ</h1>


  <div>
    店名　<%= @restaurant.name %>
  </div>
  <div>
    現在の営業場所　<%= @restaurant.place %>
  </div>
  <div>
    内容　<%= @restaurant.content %>
  </div>
  <div>
      写真　<%= @restaurant.photo %>
  </div>

